export(grpSelection, ctSelection, ctFilter, edgeRclassic, edgeRGLM, DESeq2, idAdd, write.output)
exportClasses("DataList")
exportMethods("show")

import(edgeR)
import(DESeq2)
import(HTSFilter)
import(biomaRt)
import(methods)


S3method(as.matrix, DataList)
S3method(aveLogCPM, DataList)
S3method(calcNormFactrs, DataList)
S3method(camera, DataList)
S3method(cbind, DataList)
S3method(cpm, DataList)
S3method(dim, DataList)
S3method(dimnames, DataList)
S3method("dimnames<-", DataList)
S3method(equalizeLibSizes, DataList)
