useDynLib(RNASeqSuite, .registration=TRUE, .fixes=".cxx_")

exportPattern("^[^\\.]")
exportClasses(DataList)
exportMethods("show")

import(HTSFilter)
import(biomaRt)
import(methods)

importFrom("utils", getFromNamespace, read.delim, read.table, write.table)
importFrom("locfit", locfit)
importFrom("Rcpp", sourceCpp)
importFrom("limma",camera,contrastAsCoef,decideTests,fry,goana,kegga,is.fullrank,
     lmFit,loessFit,mroast,nonEstimable,plotMD,plotMDS,plotWithHighlights,removeExt,
     roast,romer,squeezeVar,subsetListOfArrays,zscoreGamma,zscoreT)

S3method(Ops,CompressedMatrix)
S3method("[",CompressedMatrix)
S3method("[<-",CompressedMatrix)
S3method(as.matrix,CompressedMatrix)
S3method(as.matrix,DataList)
S3method(aveLogCPM,default)
S3method(aveLogCPM,DataList)
S3method(calcNormFactors,default)
S3method(calcNormFactors,DataList)
S3method(cbind,CompressedMatrix)
S3method(cbind,DataList)
S3method(cpm,default)
S3method(cpm,DataList)
S3method(ctSplit,default)
S3method(ctSplit,DataList)
S3method(dim,DataList)
S3method(dim,CompressedMatrix)
S3method(dimnames,DataList)
S3method("dimnames<-",DataList)
S3method(equalizeLibSizes,default)
S3method(equalizeLibSizes,DataList)
S3method(estimateDisp,default)
S3method(estimateDisp,DataList)
S3method(rbind,CompressedMatrix)
S3method(rbind,DataList)
